<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dice age value : <%= num %></h1>

    <% if(num==6){ %>
      <h2> You hit a sixfer</h2>
    <% } %>
    <% for (let i = 1; i <=10; i++) { %>
      <p>83 X <%= i %> = <%= 83*i %></p>
    <% } %>
  </body>
</html>
