<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <br>
    <h3>Create a new Listing</h3>
    <br>
    <form action="/listings" method="post" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" placeholder="Enter title" class="form-control" required>
        <div class="invalid-feedback">
        Please enter a Title
        </div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" placeholder="Enter description" class="form-control" rows="3" required></textarea>
        <div class="invalid-feedback">
        Please enter a Description
        </div>
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" name="image" placeholder="Enter image URL/link" class="form-control">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="price" placeholder="Enter Price" class="form-control"  required>
        <div class="invalid-feedback">
        Please enter a Price
        </div>
        </div>
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="country" placeholder="Enter country" class="form-control" required>
        <div class="invalid-feedback">
        Please enter a Country
        </div>
        </div>
        </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" placeholder="Enter location" class="form-control" required>
        <div class="invalid-feedback">
        Please enter a Location
        </div>
        </div>
        <br>
        <button class="btn btn-danger">Add Listing</button>
    </form>
    </div>
    </div>
    <br><br>
</body>