div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    /* Div at center */
    margin: 0 auto;
    margin-top: 10px;
    transition-timing-function: margin-top 2s ease-in-out 1s;
}
div:hover{
    background-color: black;
    margin-top: 400px;
}
